/* Global Styles */

body {
    font-family: "Arial";
    background: linear-gradient(#d6ce9885, white);

}



/*nav bar*/

a {
    color: inherit;
}
nav a {
    color: white;
    font-size: 20px;
    transition: all 0.2s;
    -webkit-animation: all 0.2s;
    -moz-animation: all 0.2s;
}

.active {
    color: #aa593b;
}

nav a:hover {
    color: #aa593b;
}

.banner {
    min-height: 150px;
    min-width: 150px;
    background: url("/img/Background.png") no-repeat 0 -400px;
    margin: auto;
    width: 75%;

}

 .textsection {
    background-color: white;
    color: black;
    padding: 45px 65px;
    margin: 0 auto;
    
    
}

.facebook {
    color: #3b5998;
}


.copyright {
    padding-top: 15px;
    color: white;
}

h1{
    color: #aa593b;
    font-size: 50px;
    text-align: center;
    padding-bottom: 40px;
}

h2 {
    color: #aa593b;
    padding-top: 40px;
    padding-bottom: 5px;
}

p {
    font-size: 18px;
}

#pratthistoryheader {
    text-align: center;
}

#pratthistorytext {
    font-size: 14px;
}

/* Media Queries */
/* Small devices (tablets, 768px and up) */


@media (min-width: 768px) {
}
.navbar.navbar-default .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar.navbar-default .navbar-nav > li {
    display: inline-block;
    float: none
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:  992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}



